# Base de datos PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/identidad_finanzas

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1h

# REST y gRPC locales del microservicio identidad-finanzas
PORT=3002
GRPC_PORT=5002
